.progress-bar {
  position: relative;
  width: 300px;
  height: 4px;
  background: gray;
  > div {
    top: 0;
    left: 0;
    position: absolute;
    background: darkslateblue;
    height: 4px;
  }
}
